.home {
    margin: 0 auto;
    max-width: 1600px;
    position: relative;
}

img {
    height: auto;
    max-width: 100%;
    overflow: clip;
}

.headline {
    color: #FFFFFF;
    left: 40%;
    position: absolute;
    top: 50%;
}

.br {
    background: #000000;
    opacity: 0.75;
    padding: 0.25em 0.5em;
}


@media screen and (max-width: 1080px) {
    .architects {
        display: none;
    }
}