/* Navigation Styles */
navbar {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 1px 1px 10px #000000;
    overflow: hidden;
    padding: 0.5em 0;
    position: fixed;
    top: 0;
    z-index: 2;
}

navbar a {
    color: #000000;
    padding: 0.25em;
    text-decoration: none;
}

navbar a:hover {
    background: #CCCCCC;
}

.right-navbar {
    display: flex;
    position: absolute;
    right: 2%;
}

/* Responsive Styles */ 
@media screen and (max-width: 1080px) {
    .right-navbar {
        display: none;
    }
}